#header {
    width: 100%;
    height: 80px;
}

#header-left {
    width: 40%;
    margin-right: 9%;
    float: left;
}

#header-right {
    width: 40%;
    float: right;
    text-align: right;
}

.search-input {
    border: 2px solid black;
    border-radius: 12px;
    padding: 8px;
    margin-top: 10px;
    margin-left: 20px;
}

.create-new-button {
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    border: 4px solid black;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

#courses-container {
    /*width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;*/
    width: 100%;
}

.course {
    /*width: 20%;
    margin: 2%;
    flex: 1 1 calc(25% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    background-color: lightblue;
    border: 1px solid black;
    box-sizing: border-box;*/
    width: 20%;
    margin: 2%;
    float: left;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: center;

}

.course-img-container {
    width: 80%;
    margin: 10px auto 10px auto;
    text-align: center;
    height: 100px;
    border-radius: 12px;
}

.course-img {
    max-width: 100%;
    max-height: 100%;
}

.course-name {
    font-size: 16px;
    color: black;
}

.course-minor-text {
    font-size: 12px;
    color: gray;
}